  <div class="activities-page">
      <header class="activities-header">
        <h2 class="activities-title">The Statinator</h2>
          <h2 class="user">Hello, Dynamically Generated Username!</h2>
      </header>

      <div class="my-activities-div">
        <h1 class="my-activities">MY ACTIVITIES</h1>
      </div>

    <div class="activity-cards-div">
    <% m.activities.forEach(function (activity) { %>
      <div class="stack-list-item card">
        <p class="card-header"><a class="share-title" href=""> <%- activity.title %></a></p>
        <div class="card-copy">
            <div class="chart">
              Values over time
  	    </div>
        </div>
        <div class="card-buttons">
          <button class="edit">Edit</button>
          <button class="delete">Delete</button>
        </div>
      </div>
      <% }) %>
    </div>
      <div class="btn-new-activity-div">
        <button class="btn-new-activity">Add New Activity +</button>
      </div>
  </div>
