<header class="activity-header">
  <h1>NEW ACTIVITY</h1>
</header>

<form class="new-activity pure-form">

    <div class="activity-name pure-control-group">
        <label for "new-activity-name">Name</label>
        <input class="name-input pure-input-1" name="new-activity-name" placeholder="Name"></input>
    </div>

    <div class="new-comment pure-control-group">
        <label for "comment">Description</label>
        <input class="comment pure-input-1" name="comment" placeholder="Describe It! &#9997;"></input>
    </div>

 <p>Date: <input type="text" id="datepicker"></p>

    <button class="new-activity-btn">Add +</button>
  </form>
