<header class="reg-header">
  <h1>THE STATINATOR</h1>
</header>

<div class="reg-main">

  <form class="user-reg-form pure-form">
    <div class="pure-control-group">
      <label for="username">Username</label>
      <input class="username" name="username" placeholder="Username"></input>
    </div>

    <div class="pure-control-group">
        <label for="email">Email</label>
        <input class="email" name="email" placeholder="Email"></input>
    </div>

    <div class="pure-control-group">
      <label for="password">Password</label>
      <input class="password" name="password" placeholder="Password"></input>
    </div>

    <button class="submit-reg">Sign Up</button>
  </form>

</div>
