<h1>My Activities</h1>

  <div class="activities-container">
    <ul class="activities">
      <li class="activity">
        <span class="activity-name">Name</span>
        <span class="activity-start-date">Start Date</span>
        <span class="activity-recent-date">Recent Logged</span>
        <span class="activity-progress">Progress</span>

        <ul class="dropdown-menu">
          <li class="edit">Edit</li>
          <li class="details">Details</li>
          <li class="log-new">Log New</li>
        </ul>
      </li>
    </ul>

  </div>

  <button type="button" class="new-button">Add New +</button>
