<header class="login-header">
  <h1>THE STATINATOR</h1>
</header>
<div class="user-login">

  <form class="user-login-form pure-form">
    <div class="pure-control-group">
      <label for="username">Username</label>
      <input class="username" name="username" placeholder="Username"></input>
    </div>
    <div class="pure-control-group">
      <label for="password">Password</label>
      <input class="password" name="password" placeholder="Password"></input>
    </div>
    <button class="submit-reg">Login</button>
  </form>

</div>
